  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
  }

  main {
    flex: 1 0 auto;
  }
.heart{
  color: #D82323;
  font-size: 20px;
}
img{
  width: 35%;
  height: auto;
}
.titulo{
  font-size: 25px;
  font-weight: bold;
  color: #3F665F;
}
